
@{
    ViewBag.Title = "ServerError";
}

<div class="server-error-page">
    <h1 class="text-danger text-center">Oops! Something Went Wrong!</h1>
    <h2 class="text-center">We're experiencing a hiccup. Our team is on it!</h2>
    <p class="text-center">Please try again later, or contact support if the issue persists. We apologize for the inconvenience!</p>
</div>
